<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plantswap</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
    <body>
        <nav>
            <img src="assets/Plantswap-logo.png" alt="Plantswap logo in groen">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/nieuw-stekje" class="nieuw-stekje"> Stekje toevoegen</a></li>
            </ul>
        </nav>
        
        <main>